.modelos {
	display: none;
}
.alfa__menu--mobile {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 60px;
	background-color: #399ade;
	display: none;
	justify-content: flex-end;
	align-items: center;
}

