body {
	font-family: "Fira Sans", Arial, sans-serif;
	margin: 0px;
	color: #141414;
}

h1,
h2,
h3,
p {
	margin: 0px;
}
a {
	text-decoration: none;
	color: #141414;
}

a:hover {
	color: #a9a9a9;
}

a:visited {
	color: #a7a7a7;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.alfa__botao--home{
	position: fixed;
	right: 40px;
	bottom: 40px;
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.alfa__subtitulo {
	font-size: 8rem;
	line-height: 1;
	text-transform: uppercase;
	word-break: break-all;
	max-width: 4ch;
}

@media (max-width: 800px) {
	.alfa__subtitulo {
		font-size: 3rem;
		text-transform: capitalize;
		max-width: initial !important;
	}
}
