.alfa__introducao {
	max-width: 1200px;
	padding: 40px 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 100px;
	align-items: center;
}

.alfa__introducao h1 {
	font-size: 4.5rem;
	line-height: 1.125;
	margin-bottom: 30px;
	position: relative;
	text-shadow: 0.2px 0.2px 3px #fff;
}

.alfa__introducao h1::before {
	content: "";
	display: block;
	width: 130px;
	height: 100px;
	background: url("../images/portfolio/detalhe.svg") no-repeat center;
	position: absolute;
	top: -15px;
	left: -40px;
	z-index: -1;
}

.alfa__introducao img {
	border-radius: 50%;
	box-shadow: 1px 1px 6px #ccc;
	height: 250px;
	width: 250px;
	min-height: 250px;
	min-width: 250px;
	place-self: center;
}

.alfa__introducao p {
	font-size: 1.5rem;
	color: #525252;
}

@media (max-width: 1000px) {
	.alfa__introducao h1 {
		font-size: 3rem;
	}
}

@media (max-width: 800px) {
	.alfa__introducao {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}
	.alfa__introducao h1 {
		font-size: 2rem;
	}
	.alfa__introducao h1::before {
		width: 30px;
		height: 10px;
		left: 0px;
	}
}

@media (max-width: 560px) {
	.alfa__introducao {
		grid-template-columns: 1fr;
	}
	.alfa__introducao img {
		display: none;
	}
}
