<!DOCTYPE html>
<html lang="pt.br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./assets/js/script.js" defer></script>
    <title>Adote um Catioro</title>
</head>

<body>
    <span class="alfa__botao--home"><a href="/"><img src="../../assets/images/portfolio/ico-home.svg"></a></span>
    <div class="estrutura">
        <header class="header">
            <a href="#" class="logo"><img src="./assets/svg/logo.svg"></a>
            <nav>
                <ul>
                    <li><a href="#">Animais</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </header>

        <nav class="sidenav">
            <div class="float">
                <ul>
                    <li id="click" class="float">MENU</li>
                </ul>
            </div>
            <div class="mmenu">
                <ul>
                    <li id="dog"><a href="#"><img src="./assets/svg/dog.svg"></a></li>
                    <li id="cat"><a href="#"><img src="./assets/svg/cat.svg"></a></li>
                    <li id="bird"><a href="#"><img src="./assets/svg/chicken.svg"></a></li>
                    <li id="mouse"><a href="#"><img src="./assets/svg/mouse.svg"></a></li>
                    <li id="turtle"><a href="#"><img src="./assets/svg/turtle.svg"></a></li>
                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="titulo">
                <h1>Maktub</h1>
                <span>Um vira lata muito esperto</span>
            </div>
            <div class="caracteristicas">
                <div>
                    <span class="numero">15</span>
                    <span class="rotulo">kg</span>
                </div>
                <div>
                    <span class="numero">11</span>
                    <span class="rotulo">anos</span>
                </div>
            </div>
            <p class="col-wide"> Estava indo ao mercado, quando derrepente nos deparamos com um cachorrinho muito
                magrelo,
                que resolveu vir me cheirar, logo disse a mim mesma, que cachorro mais lindo.
                Entrei no mercado para fazer as compras, resolvi comprar algo pra ele comer, entregaria quando saisse,
                coloquei a comida pra ele, e ele recusou, parecia muito sozinho e com medo.
                Já comecei a pedir aos céus para que ele estivesse acompanhado. Eu amo animais, mas não achava que era a
                hora certa de levar um para casa. E eu sabia que se ele estivesse sozinho, não o deixaria ali. Era uma
                situação bem complexa!</p>
            <img class="imagem-1" src="./assets/image/images/mak.jpg">
            <p class="destaque"> "Quando me aproximei eu vi aquele cachorrinho que alguns
                dias depois receberia o nome de Maktub."</p>
            <img class="imagem-2" src="./assets/image/images/maktub.jpg">
            <blockquote class="citacao col-wide">
                <p> "Maktub é uma palavra em árabe que significa "já estava escrito" ou "tinha que acontecer".</p>
            </blockquote>
            <ul class="atributos">
                <li>Macho</li>
                <li>Vira-lata</li>
                <li>Ruivo</li>
                <li>Preguiçoso</li>
            </ul>
            <div class="informacoes">
                <p> Mesmo assim, o coloquei no carro e trouxe pra casa, pensando em divulgar em redes sociais,
                    perguntando se alguem gostaria de adota-lo.
                    uma semana se passou, não apareceu ninguém, o amor dele ja tomava conta da minha casa, aquele
                    cachorro, era pra ser meu.
                </p>
                <p>Decidida a ficar com ele, coloquei um nome com um significado muito forte,
                    com a mesma força que aquela história e aquele cachorro tinham pra mim,
                    aquele dia mudou minha vida, e a vida dele, não sei quem foi o mais sortudo nessa história.
                </p>
            </div>
            <img class="col-wide" src="./assets/image/images/mak3.jpg">
        </main>
        <aside class="anuncios">
            <div class="anuncio-item">
                <img src="./assets/image/images/pet.jpg">
            </div>
            <div class="anuncio-item">
                <img src="./assets/image/images/pet2.jpg">
            </div>
        </aside>
        <footer class="footer">
            <p> Adote Um Catioro ®. - Alguns direitos reservados. </p>
        </footer>
        <span></span>
</body>

</html>